<mat-card class="signup-container">
  Signup
  <mat-form-field>
    <input matInput placeholder="First name" [formControl]="firstName" required>
    <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" [formControl]="lastName" required>
    <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <form class="gender-container" [formGroup]="options">
    <div>
      <label>Gender: </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male" color="primary">Male</mat-radio-button>
        <mat-radio-button value="female" color="primary">Female</mat-radio-button>
        <mat-radio-button value="other" color="primary">Other</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <button (click)="signup()" [disabled]="firstName.invalid || lastName.invalid || email.invalid || password.invalid" mat-raised-button color="warn" class="confirm-signup-button">Sign Up</button>
</mat-card>
